@import url("https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Pretendard', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}